# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "master", "dev" ]
  pull_request:
    branches: [ "master", "dev" ]

jobs:

  Run-npm-on-Ubuntu:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Install dependencies
      run: npm i
    - name: Build if prod present
      run: npm run prod --if-present
    - name: Run test for index.js
      run: npm test
    - name: Install yeoman global
      run: npm i -g yo
    - name: Link generator-web3-dapp
      run: npm link
    - name: Add generator-web3-dapp to node_modules
      run: npm link generator-web3-dapp
    - name: Use generator-web3-dapp
      run: |
          yo web3-dapp
          'Gitlab CI'
          '2023'
          'test'
          yes

  Run-npm-on-Macos:

    runs-on: macos-latest

    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Install depencencies
      run: npm i
    - name: Build if prod present
      run: npm run prod --if-present
    - name: Run test for index.js
      run: npm test
    - name: Install yeoman global
      run: npm i -g yo
    - name: Link generator-web3-dapp
      run: npm link
    - name: Add generator-web3-dapp to node_modules
      run: npm link generator-web3-dapp
    - name: Use generator-web3-dapp
      run: yo web3-dapp
